In [1]:
# Importing dependencies 
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import psycopg2
import time

In [2]:
# file for db password
from config import db_password

### Extract Data

In [3]:
# Variable for file
file_dir = 'C:/Users/Number One/Desktop/PH_analysis/Movies-ETL/wikipedia-movies.json'

In [4]:
# Open file and read into variable
with open(f'{file_dir}', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [5]:
# Pull data into Pandas DataFrames.
kaggle_metadata = pd.read_csv(f'C:/Users/Number One/Desktop/PH_analysis/Movies-ETL/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'C:/Users/Number One/Desktop/PH_analysis/Movies-ETL/ratings.csv')

### Transform and Clean

In [6]:
# Create variable and filter out TV shows by episodes
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                and 'imdb_link' in movie
                and 'No. of episodes' not in movie]
len(wiki_movies)

7076

In [7]:
wiki_movies_df = pd.DataFrame(wiki_movies)
wiki_movies_df.sample(n=5)

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
4355,https://en.wikipedia.org/wiki/Cake:_A_Wedding_...,2007,https://www.imdb.com/title/tt0463934/,Cake: A Wedding Story,Will Wallace,"[Will Wallace, Jeffrey Travis, Conroy Kanter, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4097,https://en.wikipedia.org/wiki/Hoot_(film),2006,https://www.imdb.com/title/tt0453494/,Hoot,Wil Shriner,"[Frank Marshall, Jimmy Buffett]",Wil Shriner,NaN,"[Hoot, by, Carl Hiaasen]","[Luke Wilson, Logan Lerman, Brie Larson, Tim B...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3175,https://en.wikipedia.org/wiki/The_Singles_Ward,2002,https://www.imdb.com/title/tt0306069/,The Singles Ward,Kurt Hale,Dave Hunter,NaN,NaN,NaN,"[Will Swenson, Connie Young, Daryn Tufts, Kirb...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5092,https://en.wikipedia.org/wiki/From_Paris_with_...,2010,https://www.imdb.com/title/tt1179034/,From Paris with Love,Pierre Morel,India Osborne,Adi Hasak,Luc Besson,NaN,"[John Travolta, Jonathan Rhys Meyers, Kasia Sm...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3141,https://en.wikipedia.org/wiki/Panic_Room_(film),2002,https://www.imdb.com/title/tt0258000/,Panic Room,David Fincher,"[Ceán Chaffin, Judy Hofflund, David Koepp, Gav...",NaN,NaN,NaN,"[Jodie Foster, Forest Whitaker, Dwight Yoakam,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [9]:
# update DataFrame
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)

In [10]:
# Drop duplicates with a before and after print out and print a sample of the new DF
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.sample(n=5)

7076
7033

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,McCune–Reischauer,imdb_id
3167,https://en.wikipedia.org/wiki/The_Santa_Clause_2,2002,https://www.imdb.com/title/tt0304669/,The Santa Clause 2,"[Characters created, by, Leo Benvenuti, Steve ...","[Tim Allen, Eric Lloyd, Elizabeth Mitchell, We...",NaN,Adam Greenberg,"[November 1, 2002, (, 2002-11-01, ), (United S...",104 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0304669
98,https://en.wikipedia.org/wiki/The_Handmaid%27s...,1990,https://www.imdb.com/title/tt0099731/,The Handmaid's Tale,"[The Handmaid's Tale, by, Margaret Atwood]","[Natasha Richardson, Faye Dunaway, Aidan Quinn...",NaN,Igor Luther,"[February 15, 1990, (, 1990-02-15, ), (West Ge...",109 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099731
725,https://en.wikipedia.org/wiki/Fatal_Instinct,1993,https://www.imdb.com/title/tt0106873/,Fatal Instinct,NaN,"[Armand Assante, Sherilyn Fenn, Kate Nelligan,...",Armand Assante,Gabriel Beristain,"[October 29, 1993, (, 1993-10-29, )]",91 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0106873
3013,https://en.wikipedia.org/wiki/Back_by_Midnight,2002,https://www.imdb.com/title/tt0313245/,Back by Midnight,NaN,"[Rodney Dangerfield, Phil LaMarr, Harland Will...",NaN,Ken Blakey,25 January 2005,89 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0313245
151,https://en.wikipedia.org/wiki/Miller%27s_Crossing,1990,https://www.imdb.com/title/tt0100150/,Miller's Crossing,NaN,"[Gabriel Byrne, Marcia Gay Harden, John Turtur...",NaN,Barry Sonnenfeld,"[September 21, 1990, (, 1990-09-21, )]",115 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0100150

In [11]:
# Remove columns with mostly Null values
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
wiki_movies_df.sample(n=5)

,url,year,imdb_link,title,Based on,Starring,Cinematography,Release date,Running time,Country,...,Budget,Box office,Director,Distributor,Editor(s),Composer(s),Producer(s),Production company(s),Writer(s),imdb_id
7063,https://en.wikipedia.org/wiki/The_Mule_(2018_f...,2018,https://www.imdb.com/title/tt7959026/,The Mule,"[""The Sinaloa Cartel's 90-Year-Old Drug Mule"",...","[Clint Eastwood, Bradley Cooper, Laurence Fish...",Yves Bélanger,"[December 10, 2018, (, 2018-12-10, ), (, Regen...",116 minutes,United States,...,$50 million,$172.5 million,Clint Eastwood,Warner Bros.,Joel Cox,Arturo Sandoval,"[Clint Eastwood, Tim Moore, Kristina Rivera, J...","[Imperative Entertainment, Bron Creative, Malp...",Nick Schenk,tt7959026
2210,https://en.wikipedia.org/wiki/The_Horse_Whispe...,1998,https://www.imdb.com/title/tt0119314/,The Horse Whisperer,"[The Horse Whisperer, by, Nicholas Evans]","[Robert Redford, Kristin Scott Thomas, Sam Nei...",Robert Richardson,"[May 15, 1998, (, 1998-05-15, )]",170 minutes,United States,...,$60 million,$187 million,Robert Redford,Buena Vista Pictures,"[Hank Corwin, Freeman Davies, Tom Rolf]","[Thomas Newman, Gwil Owen]","[Robert Redford, Patrick Markey]",Touchstone Pictures,"[Eric Roth, Richard LaGravenese]",tt0119314
2498,https://en.wikipedia.org/wiki/Mystery_Men,1999,https://www.imdb.com/title/tt0132347/,Mystery Men,"[Flaming Carrot Comics, by Bob Burden]","[Hank Azaria, Claire Forlani, Janeane Garofalo...",Stephen H. Burum,"[August 6, 1999, (, 1999-08-06, )]",121 minutes,United States,...,$68 million,$33.5 million,Kinka Usher,Universal Pictures,Conrad Buff,Stephen Warbeck,"[Lawrence Gordon, Lloyd Levin, Mike Richardson]","[Golar Productions, Dark Horse Entertainment]","[Neil Cuthbert, Bob Burden]",tt0132347
3469,https://en.wikipedia.org/wiki/Blade:_Trinity,2004,https://www.imdb.com/title/tt0359013/,Blade: Trinity,"[Blade, by, Marv Wolfman, Gene Colan]","[Wesley Snipes, Kris Kristofferson, Jessica Bi...",Gabriel Beristain,"[December 8, 2004, (, 2004-12-08, )]",112 minutes,United States,...,$65 million,$128.9 million,David S. Goyer,New Line Cinema,"[Conrad Smart, Howard E. Smith]","[Ramin Djawadi, RZA]","[Peter Frankfurt, Wesley Snipes, David S. Goye...","[New Line Cinema, Marvel Enterprises, Amen Ra ...",David S. Goyer,tt0359013
5673,https://en.wikipedia.org/wiki/The_Reluctant_Fu...,2012,https://www.imdb.com/title/tt2032557/,The Reluctant Fundamentalist,"[The Reluctant Fundamentalist, by, Mohsin Hamid]","[Riz Ahmed, Kate Hudson, Liev Schreiber, Meesh...",Declan Quinn,"[29 August 2012, (, 2012-08-29, ), (Venice Fil...",130 minutes,"[United States, [2], Pakistan, [2], India, [2]...",...,$15 million,"$2,167,020",Mira Nair,IFC Films,Shimit Amin,Michael Andrews,Lydia Dean Pilcher,"[The Mirabai Films, Doha Film Institute, (DFI)...","[Mohsin Hamid, Ami Boghani]",tt2032557

In [12]:
# New dict to parse
box_office = wiki_movies_df['Box office'].dropna()

In [13]:
def is_not_a_string(x):
    return type(x) != str
box_office[box_office.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [14]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [15]:
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

3903

In [16]:
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'
box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

1559

In [17]:
# Create 2 Boolean Series and then select the box office values that don’t match either forms
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

In [18]:
box_office[~matches_form_one & ~matches_form_two]

110              $4.35-4.37 million
600                      $5000 (US)
1070                     35,254,617
1480                     £3 million
1865                   ¥1.1 billion
2032                            N/A
2091                           $309
2665    926,423 admissions (France)
3088      $32 [2] –33.1 million [1]
3631                            TBA
3859             $38.9–40.3 million
3879       CN¥3.650 million (China)
4116                     £7,385,434
4261             $20.7–23.9 million
4306                         $20-30
4561        $45.2k (only in Turkey)
5447                          £2.56
5784                       413 733$
6013                        Unknown
6145             $17.5–18.4 million
6234             $41.8–41.9 million
6369                          $111k
6370                           $588
6593                 less than $372
6843                        8 crore
Name: Box office, dtype: object

In [19]:
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [20]:
def parse_dollars(s):
    
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan
    
    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
        
        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)
        
        # convert to float and multiply by a million
        value = float(s) * 10**6
        
        # return value
        return value
    
    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
        
        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [21]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [22]:
# Drop the Box Office column
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [23]:
# Create a variable and drop missing values
budget = wiki_movies_df['Budget'].dropna()

In [24]:
# Convert lists to strings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [25]:
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [26]:
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)
budget[~matches_form_one & ~matches_form_two]

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
973             $34 [3] [4] million
1126               $120 [4] million
1226                        Unknown
1278                            HBO
1374                     £6,000,000
1397                     13 million
1480                   £2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     ₤2,300,874
2281                     $14 milion
2451                     ₤6,350,000
3144                   € 40 million
3360               $150 [6] million
3418                        $218.32
3802                   £4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    £17 million
5034              $$200 [4] million
5055           $155 [2] [3] million
5419                $40 [4] million
5424                            N/A
5447                     £4 million
5671                    €14 million
5687                   $ dead link]
6385               £ 12 million [3]
6593                     £3 million
6821                  £12.9 million
6843                      3.5 crore
6895                        919,000
7070                   €4.3 million
Name: Budget, dtype: object

In [27]:
budget = budget.str.replace(r'\[\d+\]\s*', '')
budget[~matches_form_one & ~matches_form_two]

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
973                     $34 million
1126                   $120 million
1226                        Unknown
1278                            HBO
1374                     £6,000,000
1397                     13 million
1480                   £2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     ₤2,300,874
2281                     $14 milion
2451                     ₤6,350,000
3144                   € 40 million
3360                   $150 million
3418                        $218.32
3802                   £4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    £17 million
5034                  $$200 million
5055                   $155 million
5419                    $40 million
5424                            N/A
5447                     £4 million
5671                    €14 million
5687                   $ dead link]
6385                  £ 12 million
6593                     £3 million
6821                  £12.9 million
6843                      3.5 crore
6895                        919,000
7070                   €4.3 million
Name: Budget, dtype: object

In [28]:
# Parsing budget values
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [29]:
# Drop original Budget column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [30]:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [31]:
# Parsing forms
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [32]:
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [33]:
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [34]:
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [35]:
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [36]:
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [37]:
wiki_movies_df.drop('Running time', axis=1, inplace=True)

### Cleaning Kaggle Data

In [38]:
# Remove the bad data
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# keep rows where the adult column is False, and then drop the adult column
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [40]:
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [41]:
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [42]:
# Convert release_date to to_datetime()
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [43]:
# assign it to the timestamp column.
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [44]:
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [45]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies     

#comparing columns
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

,title_wiki,title_kaggle
27,China Cry,China Cry: A True Story
36,Daddy's Dyin' ...Who's Got the Will?,Daddy's Dyin'... Who's Got the Will?
38,The Dark Side of the Moon,The Dark Side of The Moon
42,Delta Force 2,Delta Force 2: The Colombian Connection
48,DuckTales the Movie:Treasure of the Lost Lamp,DuckTales: The Movie - Treasure of the Lost Lamp
...,...,...
5956,Chips,CHiPS
5971,Spark,Spark: A Space Tail
5994,Pirates of the Caribbean:Dead Men Tell No Tales,Pirates of the Caribbean: Dead Men Tell No Tales
6023,Valerian and the Cityof a Thousand Planets,Valerian and the City of a Thousand Planets
6028,An Inconvenient Sequel:Truth to Power,An Inconvenient Sequel: Truth to Power

### Assumption #1
#### There is an outlier that needs to be removed where Kaggle and Wikipedia title information was combined. Dropping that row to help consistency.

In [46]:
# Drop the row
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

### Assumption #2

#### The Kaggle data is much more consistent between the the titles and languages, release dates, etc. Going to drop the Wiki data.

In [47]:
# Drop the Wiki data
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [48]:
# Dropping the redundant column and fills in missing data. 
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

### Assumption #3
#### Wiki data has more information for the budgets, runtime, and revenue columns than Kaggle Data, so we used Wiki data to fill in zeroes.

In [49]:
# Run the function for the three column pairs that we decided to fill in zeros.
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df.sample(n=5)

,url,year,imdb_link,Based on,Starring,Cinematography,Release date,Country,Director,Distributor,...,release_date_kaggle,revenue,runtime,spoken_languages,status,tagline,title_kaggle,video,vote_average,vote_count
557,https://en.wikipedia.org/wiki/The_Waterdance,1992,https://www.imdb.com/title/tt0105789/,NaN,"[Eric Stoltz, Wesley Snipes, William Forsythe,...",Mark Plummer,"[May 13, 1992, (, 1992-05-13, )]",United States,"[Neal Jimenez, Michael Steinberg]",The Samuel Goldwyn Company,...,1992-05-13,1723319.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Sometimes, life happens by accident.",The Waterdance,False,6.8,6.0
4537,https://en.wikipedia.org/wiki/Inception,2010,https://www.imdb.com/title/tt1375666/,NaN,"[Leonardo DiCaprio, Ken Watanabe, Joseph Gordo...",Wally Pfister,"[July 8, 2010, (, 2010-07-08, ), (, Odeon Leic...","[United States, [2], United Kingdom, [2]]",Christopher Nolan,Warner Bros. Pictures,...,2010-07-14,825532764.0,148.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your mind is the scene of the crime.,Inception,False,8.1,14075.0
5163,https://en.wikipedia.org/wiki/Can_a_Song_Save_...,2013,https://www.imdb.com/title/tt1980929/,NaN,"[Keira Knightley, Mark Ruffalo, Hailee Steinfe...",Yaron Orbach,"[September 7, 2013, (, 2013-09-07, ), (, TIFF,...",United States,John Carney,The Weinstein Company,...,2013-09-07,63464861.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You're only as strong as your next move.,Begin Again,False,7.3,1285.0
996,https://en.wikipedia.org/wiki/Babe_(film),1995,https://www.imdb.com/title/tt0112431/,"[The Sheep-Pig, by, Dick King-Smith]","[James Cromwell, Magda Szubanski]",Andrew Lesnie,"[August 4, 1995, (, 1995-08-04, ), (United Sta...","[Australia, United States]",Chris Noonan,Universal Pictures,...,1995-07-18,254134910.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756.0
309,https://en.wikipedia.org/wiki/Mortal_Thoughts,1991,https://www.imdb.com/title/tt0102469/,NaN,"[Demi Moore, Glenne Headly, Bruce Willis, John...",Elliot Davis,"[April 19, 1991, (, 1991-04-19, )]",United States,Alan Rudolph,Columbia Pictures,...,1991-04-19,18800000.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Murder is a secret that should never be shared.,Mortal Thoughts,False,5.3,43.0

In [50]:
## Reordering colums
movies_df = movies_df[['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [51]:
# Renaming the columns for consistency. 
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

### Transform and Merge Rating Data

In [52]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [53]:
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [54]:
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [55]:
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

### Connect Pandas and SQL - Create a Database Engine

In [56]:
# The database engine needs to know how to connect to the database. To do that, we make a connection string. 
# For PostgreSQL, the connection string will look like the following
"postgres://[user]:[password]@[location]:[port]/[database]"

'postgres://[user]:[password]@[location]:[port]/[database]'

In [57]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [58]:
engine = create_engine(db_string)

### Import the Data

In [59]:
movies_df.to_sql(name='challenge', con=engine)

In [60]:
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'C:/Users/Number One/Desktop/PH_analysis/Movies-ETL/ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 1000000...Done. 101.77887535095215 total seconds elapsed
importing rows 1000000 to 2000000...Done. 211.49614024162292 total seconds elapsed
importing rows 2000000 to 3000000...Done. 317.3304440975189 total seconds elapsed
importing rows 3000000 to 4000000...Done. 422.2105972766876 total seconds elapsed
importing rows 4000000 to 5000000...Done. 525.5127322673798 total seconds elapsed
importing rows 5000000 to 6000000...Done. 635.5633401870728 total seconds elapsed
importing rows 6000000 to 7000000...Done. 746.0047948360443 total seconds elapsed
importing rows 7000000 to 8000000...Done. 857.8104856014252 total seconds elapsed
importing rows 8000000 to 9000000...Done. 961.9938864707947 total seconds elapsed
importing rows 9000000 to 10000000...Done. 1068.5603716373444 total seconds elapsed
importing rows 10000000 to 11000000...Done. 1177.602014541626 total seconds elapsed
importing rows 11000000 to 12000000...Done. 1288.9233419895172 total seconds elapsed
importing rows 12000000 to 13000000...Done. 1403.1476242542267 total seconds elapsed
importing rows 13000000 to 14000000...Done. 1505.656962633133 total seconds elapsed
importing rows 14000000 to 15000000...Done. 1614.1368372440338 total seconds elapsed
importing rows 15000000 to 16000000...Done. 1716.8737351894379 total seconds elapsed
importing rows 16000000 to 17000000...Done. 1822.4917888641357 total seconds elapsed
importing rows 17000000 to 18000000...Done. 1925.477525472641 total seconds elapsed
importing rows 18000000 to 19000000...Done. 2033.9063975811005 total seconds elapsed
importing rows 19000000 to 20000000...Done. 2135.9716267585754 total seconds elapsed
importing rows 20000000 to 21000000...Done. 2244.208172559738 total seconds elapsed
importing rows 21000000 to 22000000...Done. 2352.8621213436127 total seconds elapsed
importing rows 22000000 to 23000000...Done. 2463.4686408042908 total seconds elapsed
importing rows 23000000 to 24000000...Done. 2578.3278934955597 total seconds elapsed
importing rows 24000000 to 25000000...Done. 2687.4417135715485 total seconds elapsed
importing rows 25000000 to 26000000...Done. 2799.619225025177 total seconds elapsed
importing rows 26000000 to 26024289...Done. 2802.2417166233063 total seconds elapsed